.input-bar {
  position: relative;
  display: flex;
  height: 30px;
  border-bottom: 1px solid $app-frame-border;
  border-left: 1px solid $app-frame-border;
  border-right: 1px solid $app-frame-border;

  .add-task {
    width: 28px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../assets/add-button.png);
  }

  .task-bar-separator {
    width: 5px;
    border-left: 1px solid $task-bar-separator;
    border-right: 1px solid $task-bar-separator;
  }

  input {
    border: none;
    margin: 2px 10px;
    flex: 2; 
  }

  input:focus {
    outline-width: 0;
  }
}

.input-bar:before {
  content: " ";
  position: absolute;
  left: 28px;
  bottom: -2px;
  height: 2px;
  width: 3px;
  border-left: 1px solid $task-bar-separator;
  border-right: 1px solid $task-bar-separator;
  z-index: 1;
}

.input-bar:after {
  content: " ";
  position: absolute;
  bottom: -2px;
  width: 318px;
  height: 1px;
  background-color: $todo-list-shadow;
}