.tasks-container {
  .task {
    position: relative;
    min-height: 30px;
    display: flex;
    border-left: 1px solid $app-frame-border;
    border-right: 1px solid $app-frame-border;
    color: $todo-task;

    .checker {
      display: inline-block;
      width: 28px;
      background-image: url(../../assets/todo-checkbox.png);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .task-bar-separator {
      width: 5px;
      border-left: 1px solid $task-bar-separator;
      border-right: 1px solid $task-bar-separator;
      z-index: 1;
    }

    .content {
      display: flex;
      align-items: center;

      p {
        width: 240px;
        overflow-wrap: break-word;
        margin-left: 10px;
        margin: 6px 0 6px 10px;
      }
    }

    .trash {
      width: 11px;
      margin: 0 12px 0 auto;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../../assets/trash-black.png);
    }
  }

  .done {
    .checker {
      background-image: url(../../assets/done-checkbox.png);
    }
  
    .content > p {
      color: $done-task;
      text-decoration: line-through;
    }
  
    .trash {
      background-image: url(../../assets/trash-gray.png);
    }
  }

  .task:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 318px;
    height: 1px;
    background: $task-bottom-border;
  }

  [contenteditable]:focus {
    outline: 0px solid transparent;
  }
}