$done-task: #9eb2c0;
$todo-task: #2e3641;
$title-bar-background: #2e3641;
$title-text: #dae4eb;
$title-bar-separator: #454f5c;
$app-frame-border: #dbdbdb;
$task-bottom-border: #e6ebed;
$task-bar-separator: #f2e3df;
$add-task-bottom-border: #dbdbdb;
$todo-list-shadow: #e6ebed;